html, body {
  margin: 0;
  height: 100%;
  background: hotpink;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
}

.box {
background-size: cover;
background-position: center;
}

/* Individual images */
.box1 {
  background-image: url('https://upload.wikimedia.org/wikipedia/en/2/23/Assassin%27s_Creed_Origins_Cover_Art.png');
}

.box2 {
  background-image: url('https://en.wikipedia.org/wiki/File:ACOdysseyCoverArt.png');
}

.box3 {
  background-image: url('https://en.wikipedia.org/wiki/File:Assassin%27s_Creed_Valhalla_cover.jpg');
}

.box4 {
  background-image: url('https://en.wikipedia.org/wiki/File:Assassin%27s_Creed.jpg');
}